version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: appointment-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appointment_system
      MYSQL_USER: khadija
      MYSQL_PASSWORD: khadija123
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./db_dump:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5

  app:
    build: .
    container_name: appointment-laravel
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      mysql:
        condition: service_healthy
    command: ["./wait-for-it.sh", "mysql:3306", "--", "docker-php-entrypoint", "apache2-foreground"]    

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: appointment-phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    depends_on:
      mysql:
        condition: service_healthy
